ruby
	{ruby-align:left;}
.style46
	{text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	border:none;}
.style47
	{color:blue;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Arial, sans-serif;}
a:link
	{color:blue;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Arial, sans-serif;}
a:visited
	{color:#993366;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Arial, sans-serif;}
.style0
	{text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	border:none;}
td
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	text-align:general;
	vertical-align:bottom;
	border:none;
	white-space:nowrap;}
.xl66
	{color:black;
	font-size:11.0pt;
	font-family:Calibri, sans-serif;}
.xl67
	{color:black;
	font-size:11.0pt;
	font-family:Calibri, sans-serif;}
.xl68
	{font-weight:700;}
.xl69
	{color:white;
	font-size:12.0pt;
	font-weight:700;
	background:black;}
.xl70
	{color:white;
	font-size:12.0pt;
	font-weight:700;
	text-align:left;
	background:black;}
.xl71
	{color:white;
	font-size:12.0pt;
	background:black;}
.xl72
	{color:maroon;
	font-size:12.0pt;
	font-weight:700;
	font-family:"Arial Unicode MS", sans-serif;
	background:silver;}
.xl73
	{background:white;}
.xl74
	{font-weight:700;
	background:white;}
.xl75
	{color:maroon;
	font-family:Courier, monospace;
	background:white;}
.xl76
	{border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;}
.xl77
	{color:maroon;
	font-family:Courier, monospace;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;}
.xl78
	{border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;}
.xl79
	{font-weight:700;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;}
.xl80
	{color:black;
	font-size:11.0pt;
	font-family:Calibri, sans-serif;
	background:white;}
.xl81
	{color:black;
	font-size:11.0pt;
	font-family:Calibri, sans-serif;
	background:white;}
.xl82
	{color:black;
	font-size:11.0pt;
	font-family:Calibri, sans-serif;
	text-align:left;
	background:white;}
.xl83
	{color:black;
	font-size:11.0pt;
	font-family:Calibri, sans-serif;
	text-align:left;
	background:white;}
.xl84
	{color:black;
	font-size:11.0pt;
	font-weight:700;
	font-family:Calibri, sans-serif;}
.xl85
	{color:#993300;
	font-size:11.0pt;
	font-family:"Courier New", monospace;}
.xl86
	{font-size:11.0pt;
	font-family:"Andale Sans", sans-serif;}
.xl87
	{font-size:11.0pt;
	font-family:"Andale Sans", sans-serif;
	background:white;}
.xl88
	{font-size:11.0pt;
	font-family:"Andale Sans", sans-serif;
	text-align:left;
	background:white;}
.xl89
	{color:#993300;
	font-size:11.0pt;
	font-family:"Courier New", monospace;
	background:white;}
.xl90
	{color:#993300;
	font-size:11.0pt;
	font-family:"Courier New", monospace;
	text-align:left;
	background:white;}
.xl91
	{color:black;
	font-size:11.0pt;
	font-weight:700;
	font-family:Calibri, sans-serif;
	background:white;}
.xl92
	{color:black;
	font-size:11.0pt;
	font-family:Calibri, sans-serif;
	background:white;}
.xl93
	{color:maroon;
	font-size:12.0pt;
	font-weight:700;
	font-family:"Andale Sans", sans-serif;
	background:silver;}
.xl94
	{font-family:"Andale Sans", sans-serif;}
.xl95
	{font-family:"Andale Sans", sans-serif;
	background:white;}
.xl96
	{text-align:left;}
.xl97
	{color:maroon;
	font-family:Courier, monospace;
	text-align:left;
	background:white;}
.xl98
	{color:maroon;
	font-family:Courier, monospace;
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;}
.xl99
	{color:maroon;
	background:white;}
.xl100
	{color:maroon;}
.xl101
	{font-size:11.0pt;
	font-family:"Courier New", monospace;
	background:white;}
.xl102
	{color:#993300;
	font-size:11.0pt;
	font-family:Courier, monospace;
	text-align:left;
	background:white;}
.xl103
	{color:#993300;
	font-size:11.0pt;
	font-family:Courier, monospace;
	background:white;}
.xl104
	{color:maroon;
	font-family:Courier, monospace;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;}
.xl105
	{color:maroon;
	font-family:Courier, monospace;
	text-align:left;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;}
.xl106
	{color:maroon;
	font-size:12.0pt;
	font-family:"Courier New", monospace;}
.xl107
	{color:maroon;
	font-size:12.0pt;
	font-family:Courier, monospace;}
.xl108
	{font-size:12.0pt;}
.xl109
	{color:black;
	font-size:11.0pt;
	font-family:Calibri, sans-serif;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:white;}
.xl110
	{color:black;
	font-size:11.0pt;
	font-family:Calibri, sans-serif;
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:white;}
.xl111
	{color:black;
	font-size:11.0pt;
	font-weight:700;
	font-family:Calibri, sans-serif;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:white;}
.xl112
	{color:black;
	font-size:11.0pt;
	font-weight:700;
	font-family:Calibri, sans-serif;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:white;}
.xl113
	{color:black;
	font-size:11.0pt;
	font-weight:700;
	font-family:Calibri, sans-serif;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:white;}
.xl114
	{color:black;
	font-size:11.0pt;
	font-weight:700;
	font-family:Calibri, sans-serif;
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:white;}
.xl115
	{color:black;
	font-size:11.0pt;
	font-weight:700;
	font-family:Calibri, sans-serif;
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:white;}
.xl116
	{color:black;
	font-size:11.0pt;
	font-weight:700;
	font-family:Calibri, sans-serif;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:white;}
.xl117
	{color:#993300;
	font-size:12.0pt;
	font-weight:700;
	font-family:"Arial Unicode MS", sans-serif;
	text-align:left;
	background:silver;}
.xl118
	{color:#993300;
	font-size:12.0pt;
	font-weight:700;
	font-family:"Arial Unicode MS", sans-serif;
	text-align:left;
	background:#FFFF99;}
.xl119
	{color:maroon;
	font-size:12.0pt;
	font-weight:700;
	font-family:"Arial Unicode MS", sans-serif;
	text-align:left;
	background:silver;}
.xl120
	{color:white;
	font-size:12.0pt;
	font-family:"Andale Sans";
	background:black;}
.xl121
	{color:#993300;
	font-size:11.0pt;
	font-family:"Courier New", monospace;
	text-align:left;}
.xl122
	{font-size:11.0pt;
	font-family:"Courier New", monospace;}
.xl123
	{color:#993300;
	font-size:6.0pt;
	font-weight:700;
	font-family:"Arial Unicode MS", sans-serif;
	text-align:left;
	background:silver;}
.xl124
	{font-size:6.0pt;}
.xl125
	{color:#993300;
	font-size:6.0pt;
	font-weight:700;
	font-family:"Arial Unicode MS", sans-serif;
	text-align:left;
	background:#FFFF99;}
.xl126
	{color:white;
	font-size:11.0pt;
	font-family:Calibri, sans-serif;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#333333;}
.xl127
	{color:white;
	font-size:11.0pt;
	font-family:Calibri, sans-serif;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#333333;}
.xl128
	{color:white;
	font-size:11.0pt;
	font-weight:700;
	font-family:"Courier New", monospace;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#333333;}
.xl129
	{color:white;
	font-size:11.0pt;
	font-weight:700;
	font-family:"Courier New", monospace;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#333333;}
.xl130
	{color:white;
	font-size:11.0pt;
	font-family:Calibri, sans-serif;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#333333;}
.xl131
	{color:white;
	font-size:11.0pt;
	font-family:Calibri, sans-serif;
	background:#333333;}
.xl132
	{color:white;
	font-size:11.0pt;
	font-family:Calibri, sans-serif;
	text-align:left;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#333333;}
.xl133
	{color:white;
	font-size:11.0pt;
	font-family:"Courier New", monospace;
	text-align:left;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#333333;}
.xl134
	{color:maroon;
	font-size:6.0pt;
	font-family:Courier;}
.xl135
	{font-size:6.0pt;
	font-family:Courier;}
.xl136
	{font-family:Courier;}
.xl137
	{font-size:12.0pt;
	font-family:Courier;}
.xl138
	{color:maroon;
	font-size:12.0pt;
	font-weight:700;
	font-family:"Arial Unicode MS", sans-serif;
	background:silver;}
.xl139 {}
.xl140
	{color:maroon;
	font-size:12.0pt;
	font-weight:700;
	font-family:"Arial Unicode MS", sans-serif;
	text-align:left;
	background:silver;}
.xl141
	{background:white;}
.xl142
	{font-weight:700;}
.xl143
	{font-weight:700;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;}
.xl144
	{text-align:left;
	background:white;}
.xl145
	{text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;}
.xl146
	{color:white;
	font-size:11.0pt;
	font-weight:700;
	font-family:Calibri, sans-serif;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:black;}
.xl147
	{color:white;
	font-size:11.0pt;
	font-weight:700;
	font-family:Calibri, sans-serif;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:black;}
.xl148
	{color:white;
	font-size:11.0pt;
	font-weight:700;
	font-family:"Courier New", monospace;
	text-align:left;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:black;}
.xl149
	{color:white;
	font-size:11.0pt;
	font-weight:700;
	font-family:"Courier New", monospace;
	text-align:left;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:black;}
.xl150
	{text-align:left;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;}
.xl151
	{color:maroon;
	font-weight:700;
	font-family:Courier, monospace;
	background:white;}
.xl152
	{color:maroon;
	font-weight:700;
	font-family:Courier, monospace;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;}
.xl153
	{color:maroon;
	font-family:Courier, monospace;
	text-align:left;}
.xl154
	{border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;}
.xl155
	{font-weight:700;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;}
.xl156
	{color:maroon;
	font-weight:700;
	font-family:Courier, monospace;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;}
.xl157
	{color:maroon;
	font-family:Courier, monospace;
	text-align:left;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;}
.xl158
	{color:maroon;
	font-family:Courier, monospace;}
.xl159
	{color:white;
	font-size:11.0pt;
	font-family:Courier, monospace;
	text-align:left;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#333333;}
.xl160
	{color:black;
	font-size:11.0pt;
	font-family:"Andale Sans", sans-serif;
	background:white;}
.xl161
	{color:#993300;
	font-family:Courier, monospace;
	text-align:left;
	background:white;}
.xl162
	{color:white;
	font-size:11.0pt;
	font-weight:700;
	font-family:Calibri, sans-serif;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#333333;}
.xl163
	{color:white;
	font-size:11.0pt;
	font-weight:700;
	font-family:Calibri, sans-serif;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#333333;}
.xl164
	{color:#993300;
	font-size:11.0pt;
	font-family:Courier, monospace;
	text-align:left;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:white;}
.xl165
	{color:#993300;
	font-size:11.0pt;
	font-family:Courier, monospace;
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:white;}
.xl166
	{color:#993300;
	font-size:11.0pt;
	font-family:Courier, monospace;
	text-align:left;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:white;}
.xl167
	{color:maroon;
	font-size:11.0pt;
	font-family:Courier;
	text-align:left;
	background:white;}
.xl168
	{color:black;
	font-size:11.0pt;
	font-family:Courier;
	text-align:left;
	background:white;}
.xl169
	{color:black;
	font-size:11.0pt;
	font-weight:700;
	font-family:Courier;
	text-align:left;
	background:white;}
.xl170
	{color:white;
	font-size:11.0pt;
	font-weight:700;
	font-family:Courier;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#333333;}
.xl171
	{color:white;
	font-size:11.0pt;
	font-weight:700;
	font-family:Courier;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#333333;}
.xl172
	{color:black;
	font-size:11.0pt;
	font-family:Courier;
	background:white;}
.xl173
	{color:white;
	font-size:11.0pt;
	font-family:Calibri, sans-serif;
	text-align:left;
	background:black;}
.xl174
	{color:white;
	font-size:11.0pt;
	font-family:Courier, monospace;
	text-align:left;
	background:black;}
.xl175
	{font-size:11.0pt;
	font-weight:700;
	font-family:Calibri;
	text-align:left;
	background:white;}
.xl176
	{color:white;
	font-size:11.0pt;
	font-family:Courier, monospace;
	text-align:left;
	background:#333333;}
.xl177
	{color:white;
	font-size:11.0pt;
	font-weight:700;
	font-family:Courier;
	text-align:left;
	background:#333333;}
.xl178
	{color:white;
	font-size:11.0pt;
	font-weight:700;
	font-family:Courier;
	text-align:left;
	background:white;}
.xl179
	{color:white;
	font-size:11.0pt;
	font-family:Calibri, sans-serif;
	text-align:left;
	background:white;}
.xl180
	{color:white;
	font-size:11.0pt;
	font-family:Courier, monospace;
	text-align:left;
	background:white;}
.xl181
	{color:white;
	font-size:11.0pt;
	font-weight:700;
	font-family:Courier;
	text-align:left;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#333333;}
.xl182
	{color:#993300;
	font-size:11.0pt;
	font-family:Courier, monospace;
	text-align:left;
	background:white;
	padding-left:12px;}
.xl183
	{color:#993300;
	font-size:11.0pt;
	font-family:Courier, monospace;
	text-align:left;
	background:white;}
.xl184
	{color:#993300;
	font-size:11.0pt;
	font-family:Courier, monospace;
	text-align:left;}
.xl185
	{color:#993300;
	font-size:11.0pt;
	font-family:Courier, monospace;
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:white;
	padding-left:12px;}
.xl186
	{color:#993300;
	font-size:11.0pt;
	font-family:Courier, monospace;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:white;}
.xl187
	{color:white;
	font-size:11.0pt;
	font-weight:700;
	font-family:Courier;
	background:#333333;}
.xl188
	{color:white;
	font-size:11.0pt;
	font-weight:700;
	font-family:Courier;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#333333;}
.xl189
	{color:#993300;
	font-size:11.0pt;
	font-family:Courier, monospace;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:white;}
.xl190
	{border-top:none;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:white;}
.xl191
	{font-family:"Andale Sans", sans-serif;
	border-top:none;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:white;}
.xl192
	{border-top:none;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:white;}
.xl193
	{color:#993300;
	font-size:12.0pt;
	font-weight:700;
	font-family:Courier;
	text-align:left;
	background:silver;}
.xl194
	{color:#993300;
	font-size:12.0pt;
	font-weight:700;
	font-family:Courier;
	text-align:left;
	background:#FFFF99;}
.xl195
	{color:#993300;
	font-size:11.0pt;
	font-family:Courier, monospace;}
.xl196
	{color:maroon;
	font-size:12.0pt;
	font-weight:700;
	font-family:Courier;
	background:silver;}
.xl197
	{color:maroon;
	font-size:12.0pt;
	font-weight:700;
	font-family:Courier;
	text-align:left;
	background:silver;}
.xl198
	{color:maroon;
	font-size:12.0pt;
	font-weight:700;
	font-family:Courier;
	text-align:left;
	background:#FFFF99;}
.xl199
	{border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;}
.xl200
	{font-family:"Andale Sans", sans-serif;
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;}
.xl201
	{border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;}
.xl202
	{font-weight:700;
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;}
.xl203
	{font-family:"Andale Sans", sans-serif;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;}
.xl204
	{border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;}
.xl205
	{font-size:12.0pt;
	background:white;}
.xl206
	{color:maroon;
	font-size:12.0pt;
	font-family:Courier, monospace;
	background:white;}
.xl207
	{color:maroon;
	font-size:12.0pt;
	background:white;}
.xl208
	{color:maroon;
	font-size:12.0pt;}
.xl209
	{font-size:12.0pt;
	border-top:none;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:white;}
.xl210
	{color:maroon;
	font-size:12.0pt;
	font-family:Courier, monospace;
	border-top:none;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:white;}
.xl211
	{color:maroon;
	font-size:12.0pt;
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;}
.xl212
	{color:maroon;
	font-size:12.0pt;
	font-family:Courier, monospace;
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;}
.xl213
	{font-size:12.0pt;
	border-top:2.0pt double windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;}
.xl214
	{font-size:12.0pt;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;}
.xl215
	{color:maroon;
	font-size:12.0pt;
	font-family:Courier, monospace;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;}
.xl216
	{color:black;
	font-size:11.0pt;
	font-family:Calibri, sans-serif;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:white;}
.xl217
	{color:black;
	font-size:11.0pt;
	font-family:Calibri, sans-serif;
	text-align:left;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:white;}
.xl218
	{color:black;
	font-size:11.0pt;
	font-family:Calibri, sans-serif;
	text-align:left;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:white;}
.xl219
	{font-size:12.0pt;
	font-family:Courier;
	background:white;}
.xl220
	{font-weight:700;
	border-top:none;
	border-right:none;
	border-bottom:2.0pt double windowtext;
	border-left:none;
	background:white;}
.xl221
	{color:#993300;
	font-size:11.0pt;
	font-family:Calibri, sans-serif;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;}
.xl222
	{color:#993300;
	font-size:11.0pt;
	font-weight:700;
	font-family:"Courier New", monospace;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;}
.xl223
	{color:#993300;
	font-size:11.0pt;
	font-weight:700;
	font-family:"Courier New", monospace;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:white;}
.xl224
	{font-size:11.0pt;
	font-family:Calibri;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:white;}
.xl225
	{color:#993300;
	font-size:12.0pt;
	font-family:Courier, monospace;
	background:white;}
.xl226
	{color:maroon;
	font-size:36.0pt;
	font-weight:700;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Arial;
	text-align:left;
	vertical-align:middle;}
.xl227
	{font-size:36.0pt;
	font-weight:700;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Arial;
	text-align:left;
	vertical-align:middle;}
